extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 Noman Rafiq
        p.lead.text-light
          | Full Stack JavaScript Techdegree Student and a Developer.
        hr
        .portfolio-bio
          p
            | I am a Full Stack JavaScript Techdegree Student  at TeamTreeHouse. Due to my passion as a web Developer, I have built some nice projects that you are welcome to view. Currently living and United Kingdom.
            | I am halfway in the Techdegree and have all focus on learning all the aspects required to launch a startup career as Full Stack JavaScript and Web Development. I am quick learner, I pick up concepts fast and easy. I never had a problem learning new language, new technology and I love challenges.
            | I had some basic to intermediate experience  in past with MS Office, AutoCAD, 3Ds Max, Oracle forms, SQL, C++, C# and that really helped me understand the concepts more clearly. Here at Treehouse, I have learned so much more than I expected and feel confident working Front and Back-end JavaScript, APIs, Templating etc but since I have started Techdegree, JavaScript has been my best friend for web development.
            | Feel free to get in touchnvia email or social media. Thank you for your time!
        hr

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          li HTML	
          li CSS
          li JavaScript (Front and Back-end)
          li Object Oriented Promming - JS
          li APIs
          li Ajax Basics
          li Git
          li Server-side web Applications with Node and Express.js
          li React.js
          li JQuery
          li Pug/Templating
        hr
        h6 Contact Info
        ul
          li 
            a(href='tel:555-555-1234') +44 739 738 4940
          li 
            a(href='mailto: noman.raf@hotmail.co.uk') noman.raf@hotmail.co.uk
        hr
        a.button.expanded(href='#') LinkedIn 
          img(src='/static/linkd.ico' width='25px')
        a.button.expanded(target='_blank' href='https://github.com/imnomee') GitHub  
          img(src='/static/github.ico', width='25px')
        a.button.expanded(target='_blank' href='https://twitter.com/heyimnomee') Twitter 
          img(src='/static/twitter.ico', width='25px')
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  